@import "antd/dist/antd.css";

#root {
  /* height: 100%; */
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.logo-sidebar {
  z-index: 1;
  height: 72px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 24px;
  box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
}
.logo-sidebar img {
  width: 32px;
}
.logo-sidebar span {
  font-weight: bold;
  color: white;
  margin-left: 5px;
}

.site-layout .site-layout-background {
  background: #fff;
  min-height: calc(100% - 72px);
  padding: 24px;
  margin: 24px;
}
.header-container {
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
}
.ant-spin-container {
  display: flex;
  /* height: 100%; */
}
.ant-layout {
  background-color: #fff;
  /* height: 100%; */
}
.ant-layout .ant-layout-footer {
  background: #ccc;
  font-weight: bold;
}
.ant-layout .ant-layout-header {
  z-index: 99;
  height: auto;
  background: #fff !important;
  padding: 0;
  font-size: 14px;
  position: fixed;
  top: 0;
  right: 0;
  height: 72px;
  /* width: calc(100% - 210px); */
  transition: width 0.2s;
}
.ant-layout-header-width {
  width: calc(100% - 210px);
}
.ant-header-full {
  width: 100%;
}
.ant-layout .menu-bar {
  text-align: right;
  z-index: 1;
}
.ant-layout-container {
  background: #f0f2f5;
  padding-top: 72px;
  width: 100%;
  height: 100vh;
  -ms-flex: 1 1;
  flex: 1 1;
  /* width: calc(100% - 256px); */
  overflow-y: scroll;
  overflow-x: hidden;
}
.ant-layout-container-width {
  width: calc(100% - 256px);
}

.swithTheme {
}
.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}
.ant-menu-sider {
  flex: 1;
  padding: 24px 0;
}
.swithTheme {
  width: 100%;
  height: 48px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  transition: all 0.3s;
}
.swithTheme span {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
.ant-layout .ant-layout-footer {
  background: #fff;
  font-weight: bold;
}
.header-menu-right {
  display: flex;
  align-items: center;
  align-self: center;
}
.menu-right-language {
  border: none;
}
.menu-right-language .ant-menu-submenu-selected {
  border: none !important;
}
.menu-right-user {
  border: none;
}
.menu-right-user .ant-menu-submenu {
  border: none !important;
}
.header-container .large-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-container .small-header {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100%;
}
.small-header .ml-5 {
  margin-left: 5px;
}
.btn-collap-menu {
  margin-left: 5px;
}
.ant-layout-sider {
  /* height: 100%; */
}
.drawer-sider-container {
}
.ant-drawe-content .ant-drawer-body {
  width: 168px;
}
.ant-drawer-body .ant-layout-sider {
  width: inherit !important;
  min-width: 170px !important;
}
.content-container {
  /* background: #fff;
  padding: 24px; */
}
.header-collapse-1 {
  width: calc(100% - 80px) !important;
}
